.regionMenuContainer {
  width: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  position: absolute;
  top: 40;
  left: 0;
  border-radius: 8px;
  div {
    /* border-left: 1px solid black; */
    /* padding: 1rem; */
  }
}

.menuContainer {
  position: relative;
}

.regionContainer {
  width: 200px;
}

.muniContainer {
  padding-left: 1rem;
  width: calc(200px - 1rem);
}

.inline {
  display: inline;
}

.filterButtonContainer {
  /* width: 132px; */
  position: relative;
}

.hidden {
  display: none;
}
