.regionMenuContainer {
  width: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  position: absolute;
  top: 40;
  left: 0;
  border-radius: 8px;
  z-index: 999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #00000050; */
  z-index: 5;
}

.menuContainer {
  position: relative;
  z-index: 999;
}

.regionContainer {
  min-width: 200px;
  width: min-content;
}

.muniContainer {
  padding-left: 1rem;
  width: calc(200px - 1rem);
}

.inline {
  display: inline;
}

.filterButtonContainer {
  /* width: 132px; */
  position: relative;
}

.hidden {
  display: none;
}
