.filterMenuContainer {
  width: auto;
  background-color: var(--digi--color--background--input);
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
  padding: 1rem;
}

.filterButtonContainer {
  position: relative;
}

.menuContainer {
  position: relative;
  z-index: 999;
}

.filterMenuColumn {
  max-height: 65vh;
  overflow-x: scroll;
  overflow-x: hidden;
  border-top: 1px solid var(--digi--color--border--primary);
  padding-top: 0.5rem;
}

.leftMenuContainer {
  width: 210px;
  .sc-digi-button-h .digi-button.sc-digi-button {
    border-width: 0;
    border-radius: 0;
  }
}

.leftMenuContainerOccupations {
  width: 310px;
}

.rightMenuContainer {
  padding-left: 1rem;
  width: calc(260px - 1rem);
}
.rightMenuContainerOccupations {
  padding-left: 1rem;
  width: calc(315px - 1rem);
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.centeredDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
