@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*   --digi--global--typography--font-family--default: ; */

  /*   --digi--color--text--primary: ;
--digi--color--text--secondary: ;
--digi--color--text--inverted: ;

--digi--color--text--link: ;
--digi--color--text--link-hover: ;
--digi--color--text--link-visited: ;

--digi--color--text--neutral: ;
--digi--color--text--danger: ;

--digi--color--background--primary: ;
--digi--color--background--secondary: ;
--digi--color--background--tertiary: ;

--digi--color--background--inverted-1: ;
--digi--color--background--inverted-2: ;
--digi--color--background--inverted-3: ;
--digi--color--background--inverted-4: ;
--digi--color--background--inverted-5: ;
--digi--color--background--inverted-6: ;

--digi--color--background--complementary-1: ;
--digi--color--background--complementary-2: ;

--digi--color--background--neutral-1: ;
--digi--color--background--neutral-2: ;
--digi--color--background--neutral-3: ;
--digi--color--background--neutral-4: ;
--digi--color--background--neutral-5: ;
--digi--color--background--neutral-6: ;
--digi--color--background--neutral-7: ;
--digi--color--background--neutral-8: ;

--digi--color--background--informative: ;

--digi--color--background--success-1: ;
--digi--color--background--success-2: ;
--digi--color--background--success-3: ;

--digi--color--background--warning-1: ;
--digi--color--background--warning-2: ;
--digi--color--background--warning-3: ;

--digi--color--background--danger-1: ;
--digi--color--background--danger-2: ;
--digi--color--background--danger-3: ;
--digi--color--background--danger-4: ;

--digi--color--background--input: ;
--digi--color--background--input-empty: ;

--digi--color--background--radio-primary: ;
--digi--color--background--radio-secondary: ;
--digi--color--background--radio-marker: ;

--digi--color--background--checkbox-primary: ;
--digi--color--background--checkbox-secondary: ;
--digi--color--background--checkbox-marker: ;

--digi--color--border--primary: ;
--digi--color--border--secondary: ;
--digi--color--border--tertiary: ;
--digi--color--border--success: ;
--digi--color--border--warning: ;
--digi--color--border--warning-2: ;
--digi--color--border--warning-3: ;
--digi--color--border--danger: ;
--digi--color--border--informative: ;

--digi--color--border--inverted: ;
--digi--color--border--inverted-2: ;
--digi--color--border--inverted-3: ;

--digi--color--border--neutral-1: ;
--digi--color--border--neutral-2: ;
--digi--color--border--neutral-3: ;
--digi--color--border--neutral-4: ;
--digi--color--border--neutral-5: ;

--digi--color--border--checkbox-primary: ;
--digi--color--border--checkbox-secondary: ;
--digi--color--border--checkbox-focus: ;

--digi--color--icons--primary: ;
--digi--color--icons--secondary: ;
--digi--color--icons--inverted: ;
--digi--color--icons--complementary-1: ;
--digi--color--icons--complementary-2: ;
--digi--color--icons--complementary-3: ;

--digi--color--icons--success: ;
--digi--color--icons--warning: ;
--digi--color--icons--danger: ;
--digi--color--icons--informative: ; */
}
